@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Montserrat+Alternates&family=Nova+Cut&family=Ysabeau+Office&display=swap');


/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.cuprum, h1 { 

 font-family: 'Cuprum', sans-serif;

}  

.mont, h1 { 

 font-family: 'Montserrat Alternates', sans-serif;

} 